<div class="grey-top">
  <p>Inspirations</p>
  <p>Idées cadeaux</p>
  <p>Espace pro</p>
  <p>Nos engagements</p>
  <p>Nos magasins</p>
  <p>Aide</p>
</div>

<div class="head">
  <div class="navbar">
    <div class="brand">
      <h1><%= link_to "Pirate & Cassis", root_path %></h1>
    </div>
    <div class="search">
      <div class="infos">
        <p>Que cherchez-vous ?</p>
        <i class="fas fa-search"></i>
      </div>
    </div>
  </div>
  <div class="icons">

    <i class="fas fa-envelope-open-text"></i>
    <div class="last-3">
      <i class="far fa-user"></i>
      <i class="far fa-heart"></i>
      <i class="fas fa-shopping-bag"></i>
    </div>
  </div>
</div>


<div class="menu">
  <div class="choice">
    <p><%= link_to "Maison", clothes_path %></p>
    <i class="fas fa-square-full"></i>
    <p><%= link_to "Mode", clothes_path %></p>
     <i class="fas fa-square-full"></i>
    <p><%= link_to "Sport", clothes_path %></p>
     <i class="fas fa-square-full"></i>
    <p><%= link_to "Beauté", clothes_path %></p>
     <i class="fas fa-square-full"></i>
    <p><%= link_to "Loisir", clothes_path %></p>
     <i class="fas fa-square-full"></i>
    <p><%= link_to "Seconde main", clothes_path %></p>
     <i class="fas fa-square-full"></i>
    <p><%= link_to "Outlet", clothes_path %></p>
  </div>
  <div class="red-button">
    <p><%= link_to "Ventes Flash", clothes_path %></p>
  </div>
</div>


