<%= render "components/navbar" %>

<div class="banner">
  <p>- 10% supp. sur la Mode</p>
</div>

<div class="tab">
  <p>Pirate & Cassis / <strong>Femme</strong></p>
</div>

<div class="category-name">
  <h1>Mode femme</h1>
  <p>Les catégories les plus recherchées par nos clients</p>
  <div class="list">
    <ul class="category-clothes">
      <li>Birkenstock</li>
      <li>Ceinture femme</li>
      <li>The Kooples</li>
      <li>Manteau femme</li>
      <li>Parka femme</li>
      <li>Adidas</li>
      <li>Chemise de nuit femme</li>
      <li>Intimissimi</li>
      <li>Bottes femme</li>
      <li>Sac bandoulière femme</li>
      <li>Robe de chambre femme</li>
      <li>Pyjama femme</li>
    </ul>
  </div>
</div>

<div class="new-clothes">
  <h1>Nouveautés</h1>
  <p><strong>Voir tout</strong></p>
</div>

<div class="clothes">
  <%= image_tag('blouse.png') %>
  <%= image_tag('chemise.png') %>
  <%= image_tag('haut.png') %>
  <%= image_tag('pantalon.png') %>
  <%= image_tag('veste.png') %>

</div>
